<section id="testimonials" class="bg-light-gray">
    <div class="container" style="margin-bottom: 1rem;">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Testimonials</h2>
                <h3 class="section-subheading text-muted" style="text-align: center; padding-bottom: 0;margin-bottom: 0;">What our clients said about us.</h3>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
              <!-- Carousel Start below -->
              <div id="carousel1" class="carousel slide testimonial-style" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                  <div class="item active">
                    <div class="carousel-caption testimonial-caption-style">
                      <p class="testimonial-content">I absolutely love working with myaccountant. Their accountants are knowledgeable, responsive, humble and most importantly, always have my best interests in mind.</p>
                      <p class="testimonial-authors">Mr. Tan of XXXXX</p>
                    </div>
                  </div>
                  <div class="item">
                    <div class="carousel-caption testimonial-caption-style">
                      <p class="testimonial-content">They provide execelent service !!!!</p>
                      <p class="testimonial-authors">Aunty Susan</p>
                    </div>
                  </div>
                  <div class="item">
                    <div class="carousel-caption testimonial-caption-style">
                      <p class="testimonial-content">They understood my needs, and took care of all the tedious work. Really amazing work</p>
                      <p class="testimonial-authors">Mr. Lim</p>
                    </div>
                  </div>
                  <div class="item">
                    <div class="carousel-caption testimonial-caption-style">
                      <p class="testimonial-content">Best accounting firm in Singapore</p>
                      <p class="testimonial-authors">Amy</p>
                    </div>
                  </div>
                  <div class="item">
                    <div class="carousel-caption testimonial-caption-style">
                      <p class="testimonial-content">Amazing service from this firm!!!</p>
                      <p class="testimonial-authors">Mr. JayChou</p>
                    </div>
                  </div>
                </div>
            
                <!-- Controls -->
            
                <a class="left carousel-control prevent-select slide-direction" href="#carousel1" data-slide="prev"><span class="chevronDisplay">&#60;</span></a>
                <a class="right carousel-control prevent-select slide-direction" href="#carousel1" data-slide="next"><span class="chevronDisplay">&#62;</span></a>
              </div>
              <!-- Indicators
              <ol class="carousel-indicators">
                <li data-target="#carousel1" data-slide-to="0" class="active"></li>
                <li data-target="#carousel1" data-slide-to="1"></li>
                <li data-target="#carousel1" data-slide-to="2"></li>
            </ol> -->
        </div>
    </div>
</section>
