<!-- Services Section -->
    <section id="whychooseus">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Why Choose Us</h2>
                    <h3 class="section-subheading text-muted">What sets us apart from the rest?</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <img src="{{ site.baseurl }}/img/whychooseus/personalized.png">
                        <!-- <i class="fa-solid fa-sparkles fa-stack-1x" style="font-size: 4.5rem; margin-left:0.1rem"></i> -->
                    </span>
                    <h4 class="service-heading">Good Services</h4>
                    <p class="text-muted">We understand every business is unique and has different needs. We can customize solution for you. XXXXXXX XXXXX XXXXXX</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <img src="{{ site.baseurl }}/img/whychooseus/cheap.png">
                    </span>
                    <h4 class="service-heading">Low Price</h4>
                    <p class="text-muted">We provide the most affordable service in town. XXXX XXXXX XXXX XXX</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <img src="{{ site.baseurl }}/img/whychooseus/professional.png">
                    </span>
                    <h4 class="service-heading">Experienced Consultant</h4>
                    <p class="text-muted">We have many years of experience in this field. XXXX XXXX XXXX XXXX</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <img src="{{ site.baseurl }}/img/whychooseus/hours.png">
                    </span>
                    <h4 class="service-heading">Instance reply</h4>
                    <p class="text-muted">We always priorities your needs. XXXX XXXX XXXX XXXX XXXX</p>
                </div>
            </div>
        </div>
    </section>
